# Ignora node_modules de ambos os projetos
/APP-BACKEND/node_modules
/APP-FRONTEND/node_modules

# Ignora arquivos de log
*.log

# Ignora os arquivos de build (gerados automaticamente)
/APP-FRONTEND/dist

# Ignora arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignora arquivos .env de ambos os projetos
/APP-BACKEND/.env
/APP-FRONTEND/.env
